#footer {
	/* background-color: #101e22; */
	
	background-image: linear-gradient(to top, #101e22 0%, #000000 100%);
	height: 450px;
	padding: 80px;
}

h4 {
	color: #fff;
	font-size: 36px;
	padding: 10px;
	padding-top: 0px;
	text-indent: 10px;
}

.footer {
	color: #e2e1e1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer p {
	color: #e2e1e1;
	padding: 10px;
}

.social-icon {
	padding-left: 1.4%;
	margin-left: 14px;
	padding-bottom: 50%;
}

.social-icon a {
	width: 70px;
	height: 70px;
	padding: 5px;
	background: rgba(217, 217, 217, 0.5);
	display: inline-flex;
	border-radius: 50%;
	margin-right: 36px;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(255, 255, 255, 0.986);
}

.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	gap: 3%;
}